html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

html,
body {
  --theme-color: rgba(155, 17, 30, 1);
  --theme-color-shadow: rgb(131, 15, 27);
  --theme-color-alpha: rgba(155, 17, 30, 0.5);
  --theme-background: rgba(255, 255, 255, 1);
  --theme-background-light: rgba(255, 255, 255, 1);
  --theme-background-dark: rgb(247, 248, 252, 1);
  --theme-background-darker: rgb(36, 37, 42, 1);
  --theme-header-color: rgba(255, 255, 255, 1);
  --theme-button: rgb(105, 12, 22);
  --theme-button-hover: rgb(253, 208, 202);
  --theme-border-color: rgba(0, 0, 0, 0.15);
  --text-black: rgba(0, 0, 0, 1);
  --text-black-a9: rgba(0, 0, 0, 0.9);
  --text-black-a8: rgba(0, 0, 0, 0.8);
  --text-black-a7: rgba(0, 0, 0, 0.7);
  --text-black-a6: rgba(0, 0, 0, 0.6);
  --text-black-a4: rgba(0, 0, 0, 0.4);
  --text-white: rgba(255, 255, 255, 1);
  --text-white-a9: rgba(255, 255, 255, 0.9);
  --text-white-a8: rgba(255, 255, 255, 0.8);
  --text-white-a7: rgba(255, 255, 255, 0.7);
  --text-white-a6: rgba(255, 255, 255, 0.6);
  --text-white-a4: rgba(255, 255, 255, 0.4);

  background: rgba(255, 255, 255, 1) !important;
  margin: 0 !important;
  font-family: "Montserrat", "Noto Sans SC", sans-serif;
}

.Navbar {
  width: 960px;
  margin: 0 auto 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--theme-background);
}
.NavTitle {
  color: var(--theme-color);
  font-weight: 600;
  font-size: 14px;
}
.Navbar > ul {
  list-style: none;
  display: flex;
}
.Navbar > ul > li {
  margin: 0 10px;
}
.Navbar > ul > li > a {
  text-decoration: none;
  font-size: 14px;
  color: var(--text-blac);
  opacity: 0.5;
  transition: opacity, 0.3s;
}
.Navbar > ul > li:hover > a {
  opacity: 1;
}
.listTable {
    border-collapse: collapse;
    width: 960px;
    margin: 0 auto;
}
.tableHead {
    height: 60px;
    border-bottom: 1px solid rgba(0,0,0,0.25);
}
.tableRow {
    height: 60px;
    border-bottom: 1px solid rgba(0,0,0,0.08);
}
th, td {
    padding: 0 15px
}
#col1 {
    width:28%;
    text-align: left;
}
#col2 {
    width:28%;
    text-align: right;
}
#col3 {
    width:28%;
    text-align: right;
}
#col4 {
    width:16%;
    text-align: right;
}
.placeholderRow {
    height: 60px;
}
.placeholderRow > td {
    text-align: center;
}
.button {
    background: transparent;
    border: 1px solid var(--text-black-a6);
    border-radius: 10px;
    font-family: "Montserrat"; 
    cursor: pointer;
    transition: all .3s;
    outline:none;
}
.button:hover {
    border-color: var(--text-black-a9);
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

.formWrapper {
    width:480px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid var(--text-black-a4);
    box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
}
.formTitle {
    color: var(--theme-color);
    height: 60px;
    font-weight: 600;
    text-align: center;
}

.formWrapper > form > div{
    height: 40px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.formWrapper > form > div > input {
    height: 20px;
    border-color: var(--text-black-a4);
    border-radius: 6px;
    padding: 0 4px;
}
.submitRow {
    height: 20!important;
    padding: 0!important;
    justify-content: center!important;
}


@media (max-width: 769px) {
    .Navbar {
        width: 94%;
        margin: 0 auto 30px;
    }
    .listTable {
        width: 94%;
    }
    .formWrapper {
        width: 80%
    }
    .tableRow > td {
        font-size: 12px;
    }
  }